/vendor
/node_modules
Homestead.yaml
.env
/tmp_resource
/.idea
.htaccess (pakblood-old)
liveSite.zip
pakblood(old 03-03-16).zip
/resources/views/test.blade.php
/public/js/vendor/select2/select2.full-old.js

/public/images
/public/uploads